{include file="../header_content.html"}
	<script type="text/javascript" src="{$__SYSJS__}/SWFUpload/swfupload.js"></script>
	<script type="text/javascript" src="{$__SYSJS__}/SWFUpload/handlers.js"></script>
	<script type="text/javascript">
	var swfu;
	$(document).ready(function(){

		swfu = new SWFUpload({
				flash_url : "{$__SYSJS__}/SWFUpload/swfupload.swf",
				upload_url: "{$__CURL__}upload_logo",
				file_post_name : "flinks_logo",

				// File Upload Settings
				file_size_limit : "2MB",	// 2MB
				file_types:"*.jpg;*.jpeg;*.png;*.gif;",
				file_types_description:"All Files",
				file_upload_limit : "100",
				file_queue_error_handler : fileQueueError,
				upload_progress_handler : function(file, bytesLoaded){
					$('#divFileProgressContainer').show();
					$('#thumbnails').attr({ 'src':'{$__AIMAGES__}/Loading_bar_1s.gif', width:300, height:16 });
				},
				upload_error_handler : uploadError,
				upload_success_handler :  function(file, serverData){
					var serverData = serverData.replace(/(^\s*)|(\s*$)/g,"");
					$('#thumbnails').attr({ 'src': serverData, width:150});
					$('#flinks_logo').val(serverData);
				},
				upload_complete_handler : uploadComplete,

				// Button Settings
				button_image_url: '{$__AIMAGES__}/swfupload_btn.png',
				button_placeholder_id : "ButtonPlaceholder",
				button_width: 76,
				button_height: 30,
				button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
				button_cursor: SWFUpload.CURSOR.HAND
			});

	});
	</script>
	<style type="text/css">
		.swfupload{ float:left;color: #DCF323;background: #2599B2; cursor:pointer; }
	</style>
	<!-- 添加用户 -->
	<div class="mcontainer">
		<div class="m-main">
			<div class="m-header">
				<a href="javascript:window.history.back(-1);" class="m-header-btns" title="{$lang['back']}">◀</a>
				<a href="javascript:window.history.go(1);" class="m-header-btns" title="{$lang['go']}">▶</a>
				<a href="javascript:window.location.reload();" class="m-header-btns" title="{$lang['refresh']}">۞</a>
				<a href="{$__CURL__}index" class="m-header-btns">{$lang.flinks_list}</a>
				<a href="{$__CURL__}add" class="m-header-btns">{$lang.add_flinks}</a>
				<span class="m-title">{$lang.edit_flinks}</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
				<form id="flinks-form" action="{$__CURL__}mod" method="POST">
					<input type="hidden" name="id" value="{$flinks.id}" />
					<div class="m-tab-list">
						<table class="table m-table m-tab-cons" id="m-tab-con1">
							<tr>
								<td width="10%">{$lang.flinks_title}：</td>
								<td>
									<input type="text" name="link_title" id="link_title" value="{$flinks.link_title}" class="span6"/>
									<em class="explain">{$lang.flinks_title_unempty}</em>
								</td>
							</tr>
							<tr>
								<td width="10%">{$lang.flinks_logo}：</td>
								<td>
									<div class="m-lock-div">
										<input type="radio" name="banner_select" id="is_local" checked />{$lang.local_upload}&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="banner_select" id="is_webpic" />{$lang.web_image}&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="javascript:_PUP('{$__RURL__}main/upload');void(0);">{$lang.select_libimgs}</a>
									</div>
									<div class="clear"></div>
									<input type="text" name="link_logo" id="banner" value="{$flinks.link_logo}" readonly class="span6" style="margin:10px 0px;"/>
									<div class="time-div">
										<div id="divFileProgressContainer" style="display:block;margin: 20px 0px;">
											<img id="thumbnails" src="{$flinks.link_logo}" width="150" height="50" border="0" />
										</div>
										<div class="upload_btns">
											<span class="m-header-btns" id="ButtonPlaceholder"></span>
											<span class="m-header-btns" style="padding:5px 10px;cursor: pointer;" onclick="swfu.startUpload();">{$lang.upload_img}</span>
											<div class="clear"></div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td width="10%">{$lang.flinks_url}：</td>
								<td>
									<input type="text" name="linkto" id="linkto" value="{$flinks.linkto}" class="span6"/>
									<em class="explain">{$lang.flinks_linkto_unempty}</em>
								</td>
							</tr>
							<tr>
								<td width="10%"> {$lang.flinks_status}：</td>
								<td>
									<div class="m-lock-div">
										<input type="hidden" name="disabled" id="disabled" value="{$flinks.disabled}" />
										<span class="m-lock-btns"><i class="on_off_btn"></i></span>
										<span class="m-disabled-tips">{$lang['disabled_false']}</span>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="m-input-div">
						<input type="submit" name="submit" value="{$lang.submit}" id="submit" class="m-input-btns" />
						<input type="reset" name="reset" value="{$lang.cancel}" id="reset" class="m-input-btns" />
						<a href="javascript: window.history.back(-1);" class="m-input-btns">{$lang.return}</a>
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			var link_logo = $('#banner').val();
			$('input[name="banner_select"]').click(function(){
				if($('#is_local').attr('checked')){
					$('.upload_btns').show();
					$('#banner').attr('readonly', 'true');
					$('#banner').val(link_logo);
				}else{
					link_logo = $('#banner').val();
					$('.upload_btns').hide();
					$('#banner').removeAttr('readonly');
					$('#banner').val('http://');
					$('#banner').focusout(function(){
						if($('#banner').val() !== 'http://'){
							$('#divFileProgressContainer').show();
							$('#thumbnails').attr({ 'src': $('#banner').val(), width:150});
						}else{
							return false;
						}
					});
				}
			});
			//可用性
			$('.on_off_btn').click(function(){
				var disabled = $('#disabled').val();
				if(disabled == 1){
					$('.on_off_btn').animate({ left: '0px' });
					$('#disabled').val(0);
					$('.m-disabled-tips').text('{$lang['disabled_true']}');
				}else if(disabled == 0){
					$('.on_off_btn').animate({ left: '50px' });
					$('#disabled').val(1);
					$('.m-disabled-tips').text('{$lang['disabled_false']}');
				}
			});
			$('#link_title').focusout(function(){
				if($(this).val() == ''){ $(this).siblings('.explain').css('color','red');return false; }
				else{ $(this).siblings('.explain').css('color','#A5A5A5');return true; }
			});
			$('#linkto').focusout(function(){
				if($(this).val() == ''){ $(this).siblings('.explain').css('color','red');return false; }
				else{ $(this).siblings('.explain').css('color','#A5A5A5');return true; }
			});
			$('#flinks-form').submit(function(){
				if($('#link_title').val() == ''){ $('#link_title').siblings('.explain').css('color','red'); return false; }
				if($('#linkto').val() == ''){ _Dat('{$lang.flinks_linkto_unempty}！');return false; }
				$(this).ajaxSubmit({
					success: function(data){
						if(data === 'OK'){
							_POP({ title: '{$lang.edit_flinks}', content: '{$lang.edit}{$lang.success}', icon: 'success' });
							window.location.href="{$__CURL__}index";
						}else{
							_POP({ title: '{$lang.edit_flinks}', content: '{$lang.edit}{$lang.fail}', icon: 'error' });
						}
					}
				}); 
				return false;
			});
			
		});//end ready.
	function _PUP(url){
		window.open(url);
	}
	</script>

{include file="../footer.html"}