{include file="../header_content.html"}
	<script src="{$__AJS__}/HushuilongClipboard/HushuilongClipboard.js"></script>
	<div class="mcontainer">
		<div class="m-main">
			<form id="backup-form" action="{$__CURL__}export" method="POST">
			<div class="m-header">
				<a href="javascript:window.history.back(-1);" class="m-header-btns" title="{$lang['back']}">◀</a>
				<a href="javascript:window.history.go(1);" class="m-header-btns" title="{$lang['go']}">▶</a>
				<a href="javascript:window.location.reload();" class="m-header-btns" title="{$lang['refresh']}">۞</a>
				<a href="#backup" class="m-header-btns">{$lang['backup']}</a>
				<a href="{$__CURL__}database_list" class="m-header-btns">{$lang['restore']}</a>
				<span class="m-title">{$lang['table_list']}</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
				<input type="hidden" name="tables" value="" />
				<table class="table table-condensed m-table">
					<tr class="m-table-theader">
						<th><input type="checkbox" id="check_box" onclick="_S('check[]');" /></th>
						<th>{$lang['t_name']}</th>
						<th>{$lang['t_engine']}</th>
						<th>{$lang['t_collation']}</th>
						<th>{$lang['t_rows']}</th>
						<th>{$lang['t_length']}</th>
						<th>{$lang['t_free']}</th>
						<th>{$lang['t_comment']}</th>
						<th>{$lang['handle']}</th>
					</tr>
					{if is_array($tables)}
					{foreach item=table from=$tables}
						<tr>
							<td><input type="checkbox" value="{$table.name}" name="check[]" /></td>
							<td>{$table.name}</td>
							<td>{$table.engine}</td>
							<td>{$table.collation}</td>
							<td>{$table.rows}</td>
							<td>{$table.length}</td>
							<td>{$table.free}</td>
							<td>{$table.comment}</td>
							<td>
								<a href="javascript:_DTable('{$table.table}', 'check', '{$__CURL__}htable');void(0);"  class="m-mini-btn m-mini-check" data-id="{$table.table}" title="{$lang['check_table']}">{$lang['check_table']}</a>
								<a href="javascript:_DTable('{$table.table}', 'optimize', '{$__CURL__}htable');void(0);"  class="m-mini-btn m-mini-optimize" data-id="{$table.table}" title="{$lang['optimize_table']}">{$lang['optimize_table']}</a>
								<a href="javascript:_DTable('{$table.table}', 'repair', '{$__CURL__}htable');void(0);"  class="m-mini-btn m-mini-repair" data-id="{$table.table}" title="{$lang['repair_table']}">{$lang['repair_table']}</a>
								<a href="javascript:_DTable('{$table.table}', 'analyze', '{$__CURL__}htable');void(0);"  class="m-mini-btn m-mini-analyze" data-id="{$table.table}" title="{$lang['analyze_table']}">{$lang['analyze_table']}</a>
								<a href="javascript:_GET_TABLE_FORMATION('{$table.table}', 'formation', '{$__CURL__}get_table_formation');void(0);" data-table="{$table.table}" data-type="formation" data-url="{$__CURL__}get_table_formation"  class="m-mini-btn m-mini-formation" data-id="{$table.table}" title="{$lang['formation_table']}">{$lang['formation_table']}</a>
							</td>
						</tr>
					{/foreach}
					{else}
						<tr>
							<td colspan="7">{$tables}</td>
						</tr>	
					{/if}
				</table>
			</div>
			<div class="m-footer">
					<div class="m-footer-left">
						<label class="m_select_all m-f-btn" data-selected="{$lang['select_all']}" data-unselected="{$lang['unselect_all']}" for="check_box">{$lang['select_all']}</label>
						<a href="javascript:_HTS('optimize', '{$__CURL__}htable');void(0);" class="m_edit m-f-btn">{$lang['optimize_tables']}</a>
						<a href="javascript:_HTS('repair', '{$__CURL__}htable');void(0);" class="m_delete m-f-btn">{$lang['repair_tables']}</a>
					</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div id="backup">
				<table class="table table-condensed m-table">
					<tr><th colspan="2" style="text-align: center;">{$lang.backup}</th></tr>
					<tr>
						<td width="20%">{$lang.shunt}：</td>
						<td>
							<input type="text" name="shunt" value="2048" id="shunt" class="span1"  />&nbsp;&nbsp;&nbsp;<span>K</span>
						</td>
					</tr>
					<tr>
						<td width="20%">{$lang.data_format}：</td>
						<td>
							<input type="radio" name="format" value="MYSQL4x" /> MySQL 3.23/4.0.x &nbsp;
							<input type="radio" name="format" value="MYSQL5x" checked /> MySQL 4.1.x/5.x &nbsp;
						</td>
					</tr>
					<tr>
						<td width="20%">{$lang.charset}：</td>
						<td>
							<input type="radio" name="charset" value="utf8"  checked/> UTF-8 &nbsp;
							<input type="radio" name="charset" value="latin1" /> LATIN1 &nbsp;
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" name="backsubmit" value="{$lang.backupper}" class="m-input-btns" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="formation-info" style="display:none;position:relative;">
			<div id="copy-con" class="copy-con" style="position:relative;">
				<p class="formation-content" style="max-height: 400px;overflow-y: scroll;"></p>
				<span id="copy-span" class="copy-div m-input-btns" style="position:absolute;right:0;bottom:0;"></span>
			</div>
		</div>
	</div>
	<script type="text/javascript">
			var swf = '{$__AJS__}/HushuilongClipboard/HushuilongClipboard.swf';
			var btn = 'copy-span';
			var img = '{$__AJS__}/HushuilongClipboard/copy_btn.png';
			
		$(document).ready(function(){
			var dia;
			$('#backup-form').ajaxForm({
				beforeSend: function(){
					var ts = '';
					$('input[name="check[]"]:checked').each(function(){
						ts += $(this).val() + ',';
					});
					if(ts == '' || !ts){
						_Dat('必须选择需要修改的项！');
						return false;
					}
				},
				uploadProgress: function(event, position, total, percentComplete){
					dia = art.dialog({
						id: 'BACKING',
						title: '{$lang.backupping}',
						content: '<img src="{$__AIMAGE__}/Loading_bar_1s.gif" width="300" height="16" border="0"/>',
					});
				},
				success: function(data){
					if('OK' === data){
						_POP({ title:'{$lang.backup}',content:'{$lang.backup}{$lang.success}！',icon:'success' });
						window.location.href = '{$__CURL__}database_list';
					}else{
						_POP({ title:'{{$lang.backup}}',content:'{$lang.backup}{$lang.fail}！',icon:'error' });
					}
				}

			});
		});//end
		//修改表
		function _DTable(name, type, url){
		    $.post(url, { name: name, type: type }, function(data){
				if(data === 'OK') 
					_POP({ title:'{$lang.handle}',content:'{$lang.handle}{$lang.success}！',icon:'success' });
				else 
					_POP({ title:'{{$lang.handle}}',content:'{$lang.handle}{$lang.fail}！',icon:'error' });
				window.location.reload();
			});
		}
		function _GET_TABLE_FORMATION(name, type, url){
			var content = $('.formation-info');
			$.post(url, { name: name, type: type }, function(data){
				$('.formation-content').html(data);
				art.dialog({
					id: 'FORMATION_TABLE',
					title: name + ' {$lang.formation_table}',
					content: content.html(),
					cancelVal: '{$lang.close}',
					cancel: function(){ this.close(); }
				});
				copy(swf, btn, img);
			});
		}
		function copy(swf, btn, img){
			var text = $('.formation-content').html();
			HushuilongClipboard.init(swf, btn, img, 100, 25).setText(text ,function(res){
				_POP({ content:'复制成功', icon:'success', time:0.5 });
			});
		}
		function _HTS(type, url){
			var table_names = '';
			$('input[name="check[]"]:checked').each(function(){
				table_names += $(this).val() + ',';
			});
			var reg=/,$/gi;
			table_names = table_names.replace(reg,"");
			if(table_names === ''){
				_Dat('{$lang.select_tables_rqe}！');
				return false;
			}
			$.post(url, { name: table_names, flag:'ats', type: type }, function(data){
				if(data === 'OK') 
					_POP({ title:'{$lang.handle}',content:'{$lang.handle}{$lang.success}！',icon:'success' });
				else 
					_POP({ title:'{{$lang.handle}}',content:'{$lang.handle}{$lang.fail}！',icon:'error' });
				window.location.reload();
			});
		}
	</script>
{include file="../footer.html"}