{include file="../header_content.html"}
	
	<div class="mcontainer">
		<div class="m-main">
			<div class="m-header">
				<a href="javascript:window.history.back(-1);" class="m-header-btns" title="{$lang['back']}">◀</a>
				<a href="javascript:window.history.go(1);" class="m-header-btns" title="{$lang['go']}">▶</a>
				<a href="javascript:window.location.reload();" class="m-header-btns" title="{$lang['refresh']}">۞</a>
				<span class="m-title">{$lang.view_code} ({$file_name})</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
				<pre>
					{$code}
				</pre>
				<a href="javascript:void(0);" id="gotop">GO TOP</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#gotop').click(function(){
				$(window).scrollTop(0);
			});
		});//end
	</script>
{include file="../footer.html"}