{include file="../header_content.html"}
	<link rel="stylesheet" href="{$__SYSJS__}/formValidator/roadey.css" />
	<script src="{$__SYSJS__}/formValidator/formValidator.min.js" type="text/javascript" charset="UTF-8"></script>
	<script src="{$__SYSJS__}/formValidator/formValidatorRegex.js" type="text/javascript" charset="UTF-8"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			
		});
	</script>
	<!-- 用户修改 -->
	<div class="mcontainer">
		<div class="m-main">
			<div class="m-header">
				<a href="javascript:window.history.back(-1);" class="m-header-btns" title="{$lang['back']}">◀</a>
				<a href="javascript:window.history.go(1);" class="m-header-btns" title="{$lang['go']}">▶</a>
				<a href="javascript:window.location.reload();" class="m-header-btns" title="{$lang['refresh']}">۞</a>
				<a href="{$__CURL__}add" class="m-header-btns">{$lang['add_archive']}</a>
				<a href="javascript:_MP('{$__CURL__}edit');void(0);" class="m-header-btns m-header-modpass m-header-false">{$lang['edit_archive']}</a>
				<span class="m-title">{$lang['archive_list']}</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
				<input type="hidden" name="id" value="" />
				<table class="table table-condensed m-table">
					<tr class="m-table-theader">
						<th><input type="checkbox" id="check_box" onclick="_S('check[]');" /></th>
						<th>{$lang.archive_id}</th>
						<th>{$lang.title}</th>
						<th>{$lang.sub_title}</th>
						<th>{$lang.add_time}</th>
						<th>{$lang.handle}</th>
					</tr>
					{if is_array($archives)}
					{foreach from=$archives key=k item=archive}
						<tr>
							<td><input type="checkbox" value="{$archive.id}" name="check[]" /></td>
							<td>{$archive.id}</td>
							<td>{$archive.title}</td>
							<td>{$archive.sub_title}</td>
							<td>{$archive.add_time}</td>
							<td>
								<a href="{$__CURL__}edit/id/{$archive.id}" class="m-mini-btn m-mini-edit" title="{$lang['edit_archive']}" data-id="{$archive.id}" data-value="{$archive.name}">{$lang['edit']}</a>
								<a href="javascript:_D('{$archive.id}', '{$__CURL__}del');void(0);"  class="m-mini-btn m-mini-del" data-id="{$archive.id}" title="{$lang['delete']}">{$lang['delete']}</a>
							</td>
						</tr>
					{/foreach}
					{else}
						<tr>
							<td colspan="6">{$archives}</td>
						</tr>	
					{/if}
				</table>
			</div>
			<div class="m-footer">
				<form action="#" method="POST" accept-charset="utf-8">
					<div class="m-footer-left">
						<label class="m_select_all m-f-btn" data-selected="{$lang['select_all']}" data-unselected="{$lang['unselect_all']}" for="check_box">{$lang['select_all']}</label>
						<a href="javascript:void(0);" class="m_add m-f-btn">{$lang['add']}</a>
						<a href="javascript:_MODS('{$__CURL__}edits/id/');void(0);" class="m_edit m-f-btn">{$lang['edit']}</a>
						<a href="javascript:_DS('{$__CURL__}del');void(0);" class="m_delete m-f-btn">{$lang['delete']}</a>
					</div>
					<div class="m-footer-right m-footer-pagetion">{$page_link}</div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

{include file="../footer.html"}