<!DOCTYPE html>
<html>
<head>
	<title>{if $title}{$title}{else}{$lang['title']}{/if} - {powerby}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="keywords" content="{$lang['keywords']}" />
	<meta name="description" content="{$lang['description']}" />
	<meta name="name" content="rodey" cn-name="天蝎飞碟"/>
	<meta name="email" content="rodeyluo@gmail.com" />
	<meta name="qq" content="453474593" />
	<meta name="mobile phone number" content="13723722479" />
	<meta name="website" content="www.systacm.com | www.roadey.com" />
	<link rel="icon" href="{$__BASE__}/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{$__BASE__}/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{$__BASE__}/f-128.png" type="images/x-icon" />
	<link type="text/css" rel="stylesheet" href="{$__SYSCSS__}/bootstrap/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="{$__ACSS__}/globa.css?v={$smarty.now}" />
	<link type="text/css" rel="stylesheet" href="{$__ACSS__}/main.css?v={$smarty.now}" />	
	<!--[if IE]>
	<script src=”http://html5shiv.googlecode.com/svn/trunk/html5.js”></script>
	< ![endif]-->
	<script src="{$__SYSJS__}/jquery-1.9.1.min.js?v={$smarty.now+5}"></script>
	<script src="{$__SYSJS__}/jquery.easing.js?v={$smarty.now+2}"></script>
	<script src="{$__SYSCSS__}/bootstrap/js/bootstrap.min.js"></script>
	<script src="{$__AJS__}/SY.js?v={$smarty.now}"></script>
	<script src="{$__AJS__}/main.js?v={$smarty.now}"></script>
	<script> var base = '{$__BASE__}'; var curl = base + '/default/index/'</script>
</head>
	