
	<div id="aleft-nav">
		<div id="aleft-nav-lists">
			<h3 class="left-menu-h3">个人信息<i></i></h3>
			<ul class="left-menu-ul">
				<li><a href="javascript:_M('{$__BASE__}/admin/user/edit/id/{$admin.id}');void(0);" >修改个人信息</a></li>
				<li><a href="javascript:_M('{$__BASE__}/admin/user/mpass/id/{$admin.id}');void(0);" >修改密码</a></li>
			</ul>
			<h3 class="left-menu-h3">快捷操作<i></i></h3>
			<ul class="left-menu-ul">
				<li><a href="javascript:_M('{$__BASE__}/admin/setting/index');void(0);" >网站配置</a></li>
				<li><a href="javascript:_M('{$__BASE__}/admin/archive/add');void(0);" >添加内容</a></li>
				<li><a href="javascript:_M('{$__BASE__}/admin/user/index');void(0);" >用户管理</a></li>
				<li><a href="javascript:_A('{$__BASE__}/admin/main/up_cache');void(0);" >更新缓存</a></li>
			</ul>
		</div>
	</div>
