	
	<div id="amain-con">
		<div id="amain-left-con">
			<a href="javascript:void(0);" id="aopen" class="aopen"></a>
		</div>
		<div id="amain-right-con">
			<div id="right-header" style="width:100%;position:relative;">
				<ul id="right-header-position">
					<li>{$lang['position']}：</li>
					<!-- <li>用户管理&nbsp;&rarr;</li>
					<li>添加用户&nbsp;&rarr;</li>
					 -->
				</ul>
				<div style="position:absolute;top:0px;right:20px;">{powerby link='yes'}</div>
			</div>
			<div class="clear"></div>
			<div id="right-content">
				<iframe name="con-loader" id="con-loader" src="{$__RURL__}main/index" frameborder="false" scrolling="auto" style="border: none; margin-bottom: 30px; height:auto;" width="100%" allowtransparency="true"></iframe>
			</div>
		</div>
	</div>
	