{include file="../header.html"}
<script>
	$(document).ready(function(){
		$('.nav>ul>li').eq(4).find('a').css('color','#01D0C6');
	});
</script>

<div class="pages-main">
	<div class="pages-banner">
		<img class="pages-banner-img" src="{$__AIMAGES__}/pages-banner/pages-banner-about.jpg" width="980" height="200" border="0" alt="产品与服务" />
	</div>
	<div class="pages-con">
		<div class="pages-left">
			<img src="{$__AIMAGES__}/pages-left-about.jpg" width="200" height="200" border="0" alt="关于我们-关于盛艺设计" />
		</div>
		<div class="pages-right">
			<div class="pages-about-item p-al-0">
				<div>
					<h4 class="p-r-about-h4">我们在探索中前行</h4>
					<p class="p-r-about-p">当前网络信息的发展，给企业带来了网络信息的迅速传递。在未来的网络时代，将会更多的可能，我们现在可能未所能及，但是我们不得不考虑未来的发展，所以我们在探索未来的网络时代将会出现什么样的表现形式和营销模式！
						<img src="{$__AIMAGES__}/pages-about-01.jpg" width="760" height="110" alt="探索中前行" />
					</p>
				</div>
			</div>
			<div class="pages-about-item p-al-1">
				<div>
					<h4 class="p-r-about-h4">我们的思考方式</h4>
					<p class="p-r-about-p" style="float:left;">我们坚持站在客户的角度思考问题，用领先的互动策略思考模式打破常规。我们坚信每一个成功项目都是良好团队合作的成果，我们共同探索、思考和创新，帮助客户寻找接近目标受众最佳的互动解决方案。	
					</p>
				</div>
				<img src="{$__AIMAGES__}/pages-about-02.jpg" width="180" height="150" alt="探索中前行" style="vertical-align: top;" />
			</div>
			<div class="pages-about-item p-al-2">
				<div>
					<h4 class="p-r-about-h4">相信创新的力量</h4>
					<p class="p-r-about-p">我们愿与您一起打造您的品牌或一起为您的品牌及公司形象进行创意行的设计和营销，我们始终相信创新的力量，因为只有不断的创新，才能在复杂的社会和商业届突兀出来，也只有不断的创新才能给您的企业带来更多的利益！我们愿与您一起携手开拓未来的创意世界！</p>
				</div>
				<img src="{$__AIMAGES__}/pages-about-03.jpg" width="180" height="150" alt="探索中前行" style="vertical-align: top;" />
			</div>
			<div class="pages-about-item p-al-3">
				<div>
					<h4 class="p-r-about-h4">执行力不可缺</h4>
					<p class="p-r-about-p">一个团队最怕的就是缺少凝聚力和团队精神，而每个人的执行力确是至关重要的，他们是组成团队执行效率的基石。在盛艺，我们的团队就像是一群兄弟姐妹，我们热爱设计，我们热爱开发，我们乐于用心为您服务！我们工作的一切都来自于您的需求，所以我们保持强劲的执行力，始终为您力行直至！</p>
				</div>
				<img src="{$__AIMAGES__}/pages-about-04.jpg" width="180" height="150" alt="探索中前行" style="vertical-align: top;" />
			</div>
			<div class="clear"></div>
			<h2 class="p-r-about-h2">其实我们只做一件事：<b>持续的为客户创造价值</b></h2>
			<div class="p-r-users mh-200 mb-20">
				<h4 class="p-r-about-h4">团队成员</h4>
				<ul class="p-r-a-t-ul">
					<li>
						<div class="p-r-a-t-gran pgran1">
							<a href="javascript:void(0);" title="Rodey"><img src="{$__AIMAGES__}/p-u-rodey.png" alt="" width="120" height="120" border="0"></a>
						</div>
					</li>
					<li>
						<div class="p-r-a-t-gran pgran2" title="胡  子">
							<a href="javascript:void(0);"><img src="{$__AIMAGES__}/p-u-huz.png" alt="" width="120" height="120" border="0"></a>
						</div>
					</li>
					<li>
						<div class="p-r-a-t-gran pgran3" title="起  尔">
							<a href="javascript:void(0);"><img src="{$__AIMAGES__}/p-u-qier.png" alt="" width="120" height="120" border="0"></a>
						</div>
					</li>
					<li>
						<div class="p-r-a-t-gran pgran4" title="石  子">
							<a href="javascript:void(0);"><img src="{$__AIMAGES__}/p-u-sz.png" alt="" width="120" height="120" border="0"></a>
						</div>
					</li>
					<li>
						<div class="p-r-a-t-gran pgran5">
							<a href="javascript:void(0);"><img src="{$__AIMAGES__}/p-r-a-woman.png" alt="" width="120" height="120" border="0"></a>
						</div>
					</li>
				</ul>
				<ul class="p-r-a-i-ul">
					<li>
						<dl class="p-r-u-dl1">
							<dt>Rodey：<em>[ 项目总监 ]</em></dt>
							<dd>` 盛艺设计工作室创建者，喜欢程序设计和平面设计，尤其是前端设计</dd>
							<dd>` 软件开发工程师, 毕业后一直在香港华锋工作，在工作期间不断自学网络编程</dd>
							<dd>` 对WEB设计有着丰富的经验，对WEB2.0有深究</dd>
							<dd>` 主要精通PHP、Java、ActionScript、JavaScript、Ruby、Python等编程语言</dd>
							<dd><strong>格言：&nbsp;&nbsp;像风一样自由！</strong></dd>
						</dl>
					</li>
					<li>
						<dl class="p-r-u-dl2">
							<dt>胡子：<em>[ 技术总监 ]</em></dt>
							<dd>` 服务器后端设计，对PHP疯狂热爱</dd>
							<dd>` 曾工作于许多著名的网络公司</dd>
							<dd>` 对网络设计有着丰富的开发经验</dd>
							<dd>` 主要精通PHP、HTML、CSS、JavaScript等编程语言</dd>
							<dd><strong>格言：&nbsp;&nbsp;+++++++++++++！</strong></dd>
						</dl>
					</li>
					<li>
						<dl class="p-r-u-dl3">
							<dt>起尔：<em>[ 设计总监 ]</em></dt>
							<dd>` 产品工业设计专业</dd>
							<dd>` 对产品设计和平面设计有独特的见解</dd>
							<dd>` 对工业设计和平面设计有着丰富的设计经验</dd>
							<dd>` 主要负责工业产品设计，平面设计，VI体系设计</dd>
							<dd><strong>格言：&nbsp;&nbsp;+++++++++++++！</strong></dd>
						</dl>
					</li>
					<li>
						<dl class="p-r-u-dl4">
							<dt>石子：<em>[ 产品运营总监 ]</em></dt>
							<dd>` 互联网产品分析师，网络运营分析师</dd>
							<dd>` 对网络产品及网络运营状况有着深入的探究</dd>
							<dd>` 对推广及运营数据进行深入的分析和总监</dd>
							<dd><strong>格言：&nbsp;&nbsp;世界上没有不好的人，只有不好的心态！</strong></dd>
						</dl>
					</li>
					<li>
						<dl class="p-r-u-dl5">
							<dt>起尔：<em>[ 设计总监 ]</em></dt>
							<dd>` 产品工业设计专业，艺术家</dd>
							<dd>` 对产品设计和平面设计有独特的风格</dd>
							<dd>` 曾服务于多家手机外观设计公司，对工业设计和平面设计有着丰富的设计经验</dd>
							<dd>` 主要负责工业产品设计，平面设计，VI体系设计</dd>
							<dd><strong>格言：&nbsp;&nbsp;+++++++++++++！</strong></dd>
						</dl>
					</li>
				</ul>
				<i class="p-r-a-u-i" id="p-r-a-u-i"></i>
			</div>
			<div class="p-r-a-t mb-100">
				<h2>小小的团队，超强的技术，为您创造更多的价值，为您成就更大的梦想！</h2>
			</div>
		</div>
	</div>
</div>


{include file="../footer.html"}