{include file="../header.html"}
<script>
	$(document).ready(function(){
		$('.nav>ul>li').eq(2).find('a').css('color','#01D0C6');
	});
</script>

<div class="pages-main">
	<div class="pages-banner">
		<img class="pages-banner-img" src="{$__AIMAGES__}/pages-banner/pages-banner-case.jpg" width="980" height="200" border="0" alt="盛艺案例展示" />
	</div>
	<div class="pages-con">
		<div class="pages-right pages-cases-right">
			<div class="pages-case-con">
				<div class="p-c-cl-t">
					<ul class="p-c-cl-ul">
						<li><a class="s-on s-all" data-cat="all" href="javascript:void(0);">全部</a></li>
						<li><a class="s-app" data-cat="app" href="javascript:void(0);">移动应用</a></li>
						<li><a class="s-gui" data-cat="gui" href="javascript:void(0);">软件界面</a></li>
						<li><a class="s-site" data-cat="site" href="javascript:void(0);">网站应用</a></li>
						<li><a class="s-shop" data-cat="shop" href="javascript:void(0);">商城</a></li>
						<li><a class="s-product" data-cat="product" href="javascript:void(0);">产品</a></li>
						<li><a class="s-graphic" data-cat="graphic" href="javascript:void(0);">平面</a></li>
					</ul>
				</div>
				<div class="clear mb-10"></div>
				<!-- 列表块 Start -->
				<div class="p-c-cl-item-con">
					<!-- 列表 Start -->
					<div class="p-c-cl-item item-shop item-site">
						<a href="http://www.etu100.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-01.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.etu100.com" target="_blank">E途商城</a></h3>
							<p>e途商城-专业的汽车电子产品与汽车用品网上商城,由香港华锋官方运营，提供华锋正品e路航和e途品牌的gps导航仪,行车记录仪,雷达预警仪,E联星空(智能云导航)等</p>
						</div>
						<a href="http://www.etu100.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site">
						<a href="http://www.etugps.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-02.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.etugps.com" target="_blank">华锋E途官网</a></h3>
							<p>香港华锋实业有限公司是‘e途’品牌的唯一持有者，生产的E联星空[智能云导航]，e途GPS智能导航仪、安卓导航仪、平板电脑、行车记录仪、电子狗、移动电源产品品质过硬，拥有完善的技术支持及售后服务体系[e途-开启智能导航新时代]</p>
						</div>
						<a href="http://www.etugps.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site">
						<a href="http://www.szhff.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-03.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.szhff.com" target="_blank">华锋E路航官网</a></h3>
							<p>汽车导航仪品牌 '华锋e路航'为香港华锋实业有限公司所持有。凭借坚持不懈的努力，在GPS导航领域的执着，我公司生产的 '华锋e路航'汽车导航系列产品，引领中国汽车导航市场，并拥有完善的技术支持及售后服务体系，为您提供最优的服务。</p>
						</div>
						<a href="http://www.szhff.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site">
						<a href="http://www.anmeihong.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-04.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.anmeihong.com" target="_blank">安美弘文化传播</a></h3>
							<p>品牌构建与品牌传播、新媒体营销、品牌营销、微博营销、微信营销、公信力与美誉度解决方案服务商</p>
						</div>
						<a href="http://www.anmeihong.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site">
						<a href="http://www.yljdz.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-05.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.yljdz.com" target="_blank">御林军科技</a></h3>
							<p>深圳市御林军科技有限公司是‘御林军’品牌的唯一持有者，我公司生产的e途平板电脑，平板midGPS导航仪品质过硬，拥有完善的技术支持及售后服务体系。</p>
						</div>
						<a href="http://www.yljdz.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site item-gui">
						<a href="http://www.eroda100.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-06.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.eroda100.com" target="_blank">E宝宝服务系统</a></h3>
							<p>香港华锋实业有限公司专门为汽车电子产品打造的一个售后系统，其中包括客户、代理、员工三方面的相关操作，为公司和客户提供非常方便的服务！</p>
						</div>
						<a href="http://www.eroda100.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site item-shop">
						<a href="http://www.nowtao.com.cn" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-07.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.nowtao.com.cn" target="_blank">老陶商城</a></h3>
							<p>来淘！让生活锦上添花...，NOWTAO来淘商贸，最专业、最安全的网上数码及配件交易平台之一，提供各类数码及数码配件，N多优质特价商品，假一赔三、七天无理由退换货等安全交易保障服务，让你全面安心享受网上购物乐趣！</p>
						</div>
						<a href="http://www.nowtao.com.cn" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item">
						<a href="http://www.etugps.com/e-net/" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-08.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b item-site item-graphic">
							<h3><a href="http://www.etugps.com/e-net/" target="_blank">E联星空</a></h3>
							<p>香港华锋E联星空:真人语音智能导航服务平台</p>
						</div>
						<a href="http://www.etugps.com/e-net/" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item">
						<a href="http://www.aerlang.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-09.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b item-site">
							<h3><a href="http://www.aerlang.com" target="_blank">阿尔郎官网</a></h3>
							<p>e途e路航北京营销服务中心，代理销售e途GPS智能导航仪、安卓导航仪、平板电脑、行车记录仪、电子狗、移动电源等产品。</p>
						</div>
						<a href="http://www.aerlang.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item">
						<a href="http://www.zhengfuying.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-10.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b item-site">
							<h3><a href="http://www.zhengfuying.com" target="_blank">征服鹰</a></h3>
							<p>征服鹰【国内知名车载雷达，电子狗品牌】，主要生成雷达测速仪，GPS导航仪，平面电脑等车载相关产品。</p>
						</div>
						<a href="http://www.zhengfuying.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-11.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">华锋2012国庆中秋双节促销</a></h3>
							<p>2012华锋感恩季——亲，E途有礼啦！华锋2012国庆中秋双节促销专题页面。</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-app item-gui">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-12.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">金兴-K323手机UI</a></h3>
							<p>此款手机为时尚手机</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-app item-gui">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-13.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">维智MID-UI</a></h3>
							<p>维智09年领先的MID产品</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-app item-gui">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-14.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">金兴-K323手机UI</a></h3>
							<p>金兴09年产音乐时尚手机，非常适合青少年，尤其是学生。</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-graphic">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-15.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">西思尔</a></h3>
							<p>消毒杀菌液海报平面设计</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site item-soft">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-16.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">大转盘抽奖系统</a></h3>
							<p>此系统为大转盘抽奖系统，前端采用FLASH，后端服务器采用PHP，并且可随时更换言语。数据库采用MySQL。此系统并不是非常智能，是为华锋公司抽奖专题专门开发的。</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site item-soft">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-17.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">年会抽奖系统</a></h3>
							<p>此系统为本地离线抽奖系统，需要WEB server + PHP的支持，抽奖程序采用JavaScript开发，是一套简单有效的年会或者是晚会抽奖系统，后台采用的PHP读取参与者列表并随机抽取，已经中奖的参与者将不参与下一轮抽奖。</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site item-soft item-shop">
						<a href="http://www.aerlang.com" target="_blank"><img src="{$__AIMAGES__}/case-list/case-list-18.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="http://www.aerlang.com" target="_blank">阿尔郎商城</a></h3>
							<p>阿尔郎网上商城-综合网购首选aerlang.com-正品低价、品质保障、货到付款、配送及时、让您尽享放心网购乐趣！</p>
						</div>
						<a href="http://www.aerlang.com" target="_blank"><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>
					<div class="p-c-cl-item item-site item-soft">
						<a href=""><img src="{$__AIMAGES__}/case-list/case-list-19.jpg" alt="" width="180" height="200" border="0" /></a>
						<div class="p-c-cl-item-b">
							<h3><a href="">阿尔郎服务中心</a></h3>
							<p>此系统为阿尔郎服务系统，为阿尔郎客户建立的产品管理系统。</p>
						</div>
						<a href=""><i class="p-c-cl-item-i" title="查看详细信息"></i></a>
					</div>

					<!-- 列表 End -->
				</div>
				<!-- 列表块 End -->
				<div class="clear mb-50"></div>
				<!-- 客户列表 Start -->
				<div class="case-pics-list-con">
					<h3 class="case-pics-list-h3">我们服务过的客户</h3>
					<ul class="case-pics-list-ul">
						<li><a href="" title="香港华锋实业"><img src="{$__AIMAGES__}/case-pics/case-pics-01.jpg" alt="香港华锋实业" width="138" height="200" border="0"></a></li>
						<li><a href="" title="安美弘文化传播"><img src="{$__AIMAGES__}/case-pics/case-pics-02.jpg" alt="安美弘文化传播" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="阿尔郎"><img src="{$__AIMAGES__}/case-pics/case-pics-03.jpg" alt="阿尔郎" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="来淘商贸"><img src="{$__AIMAGES__}/case-pics/case-pics-04.jpg" alt="来淘商贸" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="互联移动"><img src="{$__AIMAGES__}/case-pics/case-pics-05.jpg" alt="互联移动" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="御林军科技"><img src="{$__AIMAGES__}/case-pics/case-pics-06.jpg" alt="御林军科技" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="征服鹰"><img src="{$__AIMAGES__}/case-pics/case-pics-07.jpg" alt="征服鹰" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="E途商城"><img src="{$__AIMAGES__}/case-pics/case-pics-08.jpg" alt="E途商城" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="E宝宝服务"><img src="{$__AIMAGES__}/case-pics/case-pics-09.jpg" alt="E宝宝服务" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="中国联想"><img src="{$__AIMAGES__}/case-pics/case-pics-10.jpg" alt="中国联想" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="DNSpod"><img src="{$__AIMAGES__}/case-pics/case-pics-11.jpg" alt="DNSpod" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="鸿鑫瀚电子"><img src="{$__AIMAGES__}/case-pics/case-pics-12.jpg" alt="鸿鑫瀚电子" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title="凡事德电子"><img src="{$__AIMAGES__}/case-pics/case-pics-13.jpg" alt="凡事德电子" width="138" height="200" border="0"></a></li>
						<li><a href="javascript:void(0);" title=""><img src="{$__AIMAGES__}/case-pics-img.jpg" alt="案例列表" width="138" height="200" border="0"></a></li>
					</ul>
				</div>
				<!-- 客户列表 End -->
				<div class="clear mb-200"></div>
			</div>
		</div>
	</div>
</div>

{include file="../footer.html"}