{include file="../header.html"}
<script>
	$(document).ready(function(){
		$('.nav>ul>li').eq(1).find('a').css('color','#01D0C6');
	});
</script>

<div class="pages-main">
	<div class="pages-banner">
		<img class="pages-banner-img" src="{$__AIMAGES__}/pages-banner/pages-banner-server.jpg" width="980" height="200" border="0" alt="产品与服务" />
	</div>
	<div class="pages-con">
		<div class="pages-server-header">
			<h3 class="pages-s-h-title">{ &nbsp;&nbsp;我们愿意为您提供优质的设计和贴心的服务，这是我们的方向!&nbsp;&nbsp;}</h3>
			<h5 class="pages-s-h-title2">为您开启网络效益，为您打造品牌梦想，让我们从这里开始[Let`s GO]</h5>
			<ol class="pages-s-ol">
				<li><a href="javascript:void(0);" data-rel="#pages-s-scope" title="服务范围">服务范围</a></li>
				<li><a href="javascript:void(0);" data-rel="#pages-s-one-stop" title="一站式服务">一站式服务</a></li>
				<li><a href="javascript:void(0);" data-rel="#pages-s-process" title="服务流程">服务流程</a></li>
				<li><a href="javascript:void(0);" data-rel="#pages-s-syphp" title="SYPHP框架">SYPHP框架</a></li>
				<li><a href="javascript:void(0);" data-rel="#pages-s-systacm" title="SYSTacm系统">SYSTacm系统</a></li>
			</ol>
		</div>
		<div class="pages-right pages-server">
			<h3 class="pages-s-title pages-s-title-1" id="pages-s-scope">服务范围...</h3>
			<ul class="pages-s-ul">
				<li>
					<i class="p-s-i-website"></i>
					<span>专业的网站设计及开发服务，包括企业网站、互联产品网站、电商网站、社交及应用类网站等。</span>
					<dl class="p-s-dl-website">
						<dd>企业及品牌网站</dd>
						<dd>产品网站</dd>
						<dd>电子商务</dd>
						<dd>专题\促销页面</dd>
						<dd>前端开发</dd>
						<dd>服务端开发</dd>
						<dd>服务器运维</dd>
						<dd>网站推广/SEO优化</dd>
					</dl>
				</li>
				<li>
					<i class="p-s-i-applications"></i>
					<span>为移动设备、平板电脑、移动产品等终端提供交互流程及界面设计服务。包括IOS、Android、Win等多平台。</span>
					<dl class="p-s-dl-applications">
						<dd>ios iPhone</dd>
						<dd>ios ipad</dd>
						<dd>Android phone</dd>
						<dd>Android pad</dd>
						<dd>win8 phone</dd>
						<dd>移动网站开发</dd>
					</dl>
				</li>
				<li>
					<i class="p-s-i-gui"></i>
					<span>提供个性化的软件界面设计方案，服务涵盖为PC端、电视、车载系统等平台的界面设计。</span>
					<dl class="p-s-dl-gui">
						<dd>Windows平台</dd>
						<dd>Mac OX平台</dd>
						<dd>车载平台</dd>
						<dd>行业软件界面</dd>
						<dd>OA\CRM\CMS系统</dd>
						<dd>Other终端设备</dd>
					</dl>
				</li>
				<li class="last-li">
					<i class="p-s-i-graphics"></i>
					<span>企业及软件的LOGO设计,企业公司的VI识别系统设计,以及各类标识和平面传播类设计。</span>
					<dl class="p-s-dl-graphics">
						<dd>Logo</dd>
						<dd>VI\VA体系</dd>
						<dd>平面设计</dd>
						<dd>Flash动画设计</dd>
						<dd>视频剪辑</dd>
						<dd>品牌设计</dd>
						<dd>工业产品设计</dd>
					</dl>
				</li>
			</ul>
			<h3 class="pages-s-title pages-s-title-2" id="pages-s-one-stop">一站式服务...</h3>
			<div class="pages-s-onstop-con">
				<div class="pages-s-os-item">
					<span>
						<a href="http://www.net.cn/domain/" target="_blank">域名注册</a><br />
						<a href="http://www.miitbeian.gov.cn/" target="_blank">域名备案</a>
					</span>
				</div>
				<div class="pages-s-os-item"><span><a href="{$__CURL__}contact#pages-comment-div" target="_blank">需求分析</a><br />网站开发</span></div>
				<div class="pages-s-os-item"><span>服务器部署<br />内部测试</span></div>
				<div class="pages-s-os-item"><span>测试OK<br />正式上线</span></div>
				<div class="pages-s-os-item"><span>运营推广<br />提升品牌</span></div>
			</div>
			<div class="clear mb-20">
				<a class="links-coment" href="{$__CURL__}contact#pages-comment-div">立即开始一站式需求</a>
			</div>

			<h3 class="pages-s-title pages-s-title-3" id="pages-s-process">服务流程...</h3>
			<div class="pages-s-scope-con">
				<img src="{$__AIMAGES__}/scope.png" width="980" height="200" border="0" alt="">
			</div>
			<div class="clear mb-100" style="border:1px dashed #CCC;"></div>

			<div class="pages-s-product" id="pages-s-product-title">
				<div class="p-s-p-head">
					<h2>我们相信开源的力量，开源可以给我们带来快乐，同时也提升技术水平！</h2>
					<p>为更多的开发者贡献自己的微博之力，我们愿与您一起成长！</p>
				</div>
				<h3 class="pages-s-title pages-s-title-4" id="pages-s-syphp">SYPHP框架...</h3>
				<div class="p-s-p-list">
					<div class="p-s-p-item p-s-p-item1"></div>
					<div class="p-s-p-item p-s-p-item2"></div>
				</div>
				<div class="clear"></div>
				<div class="p-s-p-list2">
					<a href="http://pan.baidu.com/share/link?shareid=3491882054&uk=4161218165" class="p-d-bdy" target="_blank" title="百度云下载">百度云下载</a>
					<a href="http://www.senuu.com/syphp.zip" class="p-d-bd" target="_blank" title="本地下载">本地下载</a>
					<a href="http://www.roadey.com" class="p-d-more" target="_blank"><b>)</b>&nbsp;&nbsp;更多关于SYPHP框架的信息请查看盛艺官方博客 - www.roadey.com</a>
				</div>
			</div>
			<h3 class="pages-s-title pages-s-title-5" id="pages-s-systacm">SYSTacm系统...</h3>
			<div class="pages-s-systacm-con">
				<h3>我们正在努力开发中，不就后将发布第一版本，请期待吧！</h3>
				<p>SYSTacm是利用SYPHP框架进行开发的，系统功能整合性强！</p>
			</div>
			<div class="p-s-alist">
				<a href="{$__CURL__}cases" class="p-s-case">查看案例</a>
				<a href="http://wpa.qq.com/msgrd?v=3&uin=453474593&site=qq&menu=yes" class="p-s-consult" target="_blank">立即咨询</a>
				<a href="{$__CURL__}contact#pages-comment-div" class="p-s-need">发送需求</a>
			</div>
		</div>
	</div>
</div>

{include file="../footer.html"}