{include file="../header.html"}
		<!-- Main S -->
		<div class="main">
			<div class="main-con-bg">
				<ul class="main-con-ul">
					<li class="nav-home">
						<a href="" target="_blank"><span>盛艺首页</span><i>&gt;</i></a>
					</li>
					<li class="nav-about">
						<a href="" target="_blank"><span>关于盛艺</span><i>&gt;</i></a>
					</li>
					<li class="nav-countact">
						<a href="" target="_blank"><span>联系我们</span><i>&gt;</i></a>
					</li>
					<li class="nav-worked">
						<a href="" target="_blank"><span>为谁工作?</span><i>&gt;</i></a>
					</li>
					<li class="nav-project"><a href=""><span>自主实验室</span><i>&gt;</i></a></li>
					<li class="nav-news"><a href=""><span>IT风章《文》</span><i>&gt;</i></a></li>
					<li class="nav-diandian"><a href="http://roadey.diandian.com" target="_blank"><span>点点</span><i>&gt;</i></a></li>
					<li class="nav-qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=453474593&site=qq&menu=yes" target="_blank"><span>企鹅</span><i>&gt;</i></a></li>
					<li class="nav-sina"><a href="http://weibo.com/p/1005051919393515" target="_blank"><span>微浪</span><i>&gt;</i></a></li>
				</ul>
			</div>

		</div>
		<!-- Main E -->

<script type="text/javascript">
</script>

{include file="../footer.html"}