{include file="../header_content.html"}
	
	<!-- Tag列表 -->
	<div class="mcontainer">
		<div class="m-main">
			<div class="m-header">
				<a href="javascript:window.history.back(-1);" class="m-header-btns" title="{$lang['back']}">◀</a>
				<a href="javascript:window.history.go(1);" class="m-header-btns" title="{$lang['go']}">▶</a>
				<a href="javascript:window.location.reload();" class="m-header-btns" title="{$lang['refresh']}">۞</a>
				<a href="javascript:_SEND('{$__CURL__}add_sms');void(0);" class="m-header-btns">{$lang['add_sms']}</a>
				<a href="{$__CURL__}index_group" class="m-header-btns">{$lang['smses_list']}</a>
				<a href="{$__CURL__}add" class="m-header-btns">{$lang['add_smses']}</a>
				<a href="{$__CURL__}sms_type" class="m-header-btns">{$lang['member_type']}</a>
				<span class="m-title">{$lang['sms_list']}</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
				<input type="hidden" name="id" value="" />
				<table class="table table-condensed m-table">
					<tr class="m-table-theader">
						<th><input type="checkbox" id="check_box" onclick="_S('check[]');" /></th>
						<th>{$lang['sms_id']}</th>
						<th>{$lang['sms_type']}</th>
						<th>{$lang['sms_title']}</th>
						<th>{$lang['sms_content']}</th>
						<th>{$lang['sms_from_user']}</th>
						<th>{$lang['sms_to_user']}</th>
						<th>{$lang['add_time']}</th>
						<th>{$lang['handle']}</th>
					</tr>
					{if is_array($smses)}
					{foreach item=sms from=$smses}
						<tr>
							<td><input type="checkbox" value="{$sms.id}" name="check[]" /></td>
							<td>{$sms.id}</td>
							<td>[ <a href="{$__CURL__}index/type_id/{$sms.type_id}" title="">{$sms.type_name}</a> ]</td>
							<td>{$sms.title}</td>
							<td>{$sms.content|truncate:30:"...":true}</td>
							<td><a href="{$__CURL__}index/from_id/{$sms.from_id}" title="">{$sms.from_user}</a></td>
							<td><a href="{$__CURL__}index/to_id/{$sms.to_id}" title="">{$sms.to_user}</a></td>
							<td>{$sms.add_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
							<td>
								<a href="javascript:void(0);" class="m-mini-btn m-mini-view" title="{$lang['view']}" data-id="{$sms.id}" data-to="{$sms.to_user}" data-from="{$sms.from_user}" data-time="{$sms.add_time|date_format:"%Y-%m-%d %H:%M:%S"}" data-title="{$sms.title}" data-content="{$sms.content}">{$lang['view']}</a>
								<a href="javascript:_D('{$sms.id}', '{$__CURL__}del');void(0);"  class="m-mini-btn m-mini-del" data-id="{$sms.id}" title="{$lang['delete']}">{$lang['delete']}</a>
							</td>
						</tr>
					{/foreach}
					{else}
						<tr>
							<td colspan="8">{$smses}</td>
						</tr>	
					{/if}
				</table>
			</div>
			<div class="m-footer">
				<form action="#" method="POST" accept-charset="utf-8">
					<div class="m-footer-left">
						<label class="m_select_all m-f-btn" data-selected="{$lang['select_all']}" data-unselected="{$lang['unselect_all']}" for="check_box">{$lang['select_all']}</label>
						<a href="javascript:_SEND('{$__CURL__}add_sms');void(0);" class="m_add m-f-btn">{$lang['add_sms']}</a>
						<a href="{$__CURL__}add" class="m_edit m-f-btn">{$lang['add_smses']}</a>
						<a href="javascript:_DS('{$__CURL__}del');void(0);" class="m_delete m-f-btn">{$lang['delete']}</a>
					</div>
					<div class="m-footer-right m-footer-pagetion">{$page_link}</div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<form action="" id="add_sms" method="POST" accept-charset="utf-8" style="display:none;">
		<table>
			<tr>
				<td class="alignr">{$lang.sms_type}：</td>
				<td>
					<select name="type_id" id="type_id">
						<option value="0">{$lang.sms_s_type}...</option>
						{foreach item=type from=$types}
						<option value="{$type.id}">{$type.name}</option>
						{/foreach}
					</select>
					<a href="javascript:void(0);" class="add_sms_type" title="{$lang.add_sms_type}">{$lang.add_sms_type}</a>
					<em class="explain">{$lang.sms_s_type}</em>
				</td>
			</tr>
			<tr>
				<td class="alignr">{$lang.sms_title}：</td>
				<td><input type="text" name="title" id="title" value="" placeholder="{$lang.put_sms_title}" title="{$lang.put_sms_title}" class="span4 asms-input" />
					<em class="explain">{$lang.sms_is_nut_title}</em></td>
			</tr>
			<tr>	
				<td class="alignr">{$lang.sms_to_user}：</td>
				<td>
					<div class="time-div">
						<input type="text" name="to_id" id="to_id" value="" placeholder="{$lang.put_select_user}" title="{$lang.put_select_user}" class="span4 asms-input" />
						<i data-value="" class="m-mini-btn m-mini-user" style="left:275px;"></i>
						<em class="explain">{$lang.sms_is_nut_to_id}</em>
					</div>
				</td>
			</tr>
			<tr>	
				<td class="alignr">{$lang.sms_content}：</td>
				<td><textarea name="content" id="content"  placeholder="{$lang.put_sms_content}" title="{$lang.put_sms_content}" class="span4 asms-input" style="height:150px;"></textarea>
					<em class="explain">{$lang.sms_is_nut_content}</em></td>
			</tr>
		</table>
	</form>
	<script type="text/javascript">
		var content;
		$(document).ready(function(){
			content = $('#add_sms').html();
			$('#add_sms').empty();
			//查看
			$('.m-mini-view').click(function(){
				var title = $(this).data('title');
				var content = $(this).data('content');
				var from = $(this).data('from');
				var to = $(this).data('to');
				var id = $(this).data('id');
				var time = $(this).data('time');
				var view = '<table>';
				view += '<tr><td>{$lang.sms_from_user}：</td><td>'+from+'</td></tr>';
				view += '<tr><td>{$lang.sms_to_user}：</td><td>'+to+'</td></tr>';
				view += '<tr><td>{$lang.sms_title}：</td><td>'+title+'</td></tr>';
				view += '<tr><td>{$lang.sms_content}：</td><td>'+content+'</td></tr>';
				view += '<tr><td>{$lang.add_time}：</td><td>'+time+'</td></tr>';
				view += '</table>';
				window.top.art.dialog({
					title: '{$lang.view_sms}',
					content: view,
					cancelVal:'{$lang.close}',
					cancel:function(){ this.close(); }
				});
			});

			//添加类型
			$('.add_sms_type').live('click', function(){
				window.top.art.dialog.prompt('{$lang.put_sms_type}', function(data){
				    // data 代表输入数据;
				    $.post('{$__CURL__}add_sms_type', { type_name:data }, function(rdata){
				    	if(rdata != 'NO'){
					    	var data = rdata.split('-+-');
					    	if(data[0] === 'OK'){
					    		var option = '<option value="'+ data[1] +'">'+ data[2] +'</option>';
					    		$('#type_id').append($(option));
					    		_POP({ title:'{$lang.add_sms_type}', content:'{$lang.add_sms_type}{$lang.success}!', icon:'success' });
					    	}else{
					    		_POP({ title:'{$lang.add_sms_type}', content:'{$lang.add_sms_type}{$lang.fail}!', icon:'error' });
					    	}
				    	}
				    });
				});
			});
		});//end
		//添加
		function _SEND(url){
			$('#type_id').live('focusin focusout', function(){ tips('#type_id'); });
			$('#title').live('focusin focusout', function(){ tips('#title'); });
			$('#to_id').live('focusin focusout', function(){ tips('#to_id'); });
			$('#content').live('focusin focusout', function(){ tips('#content'); });
			var add_sms = art.dialog({
				id: 'ADDSMS',
				title: '{$lang.add_sms}',
				content: content,
				okVal: '{$lang.send_sms}',
				cancelVal: '{$lang.cancel}',
				ok: function(){
					var type_id = $('#type_id').val();
					var title = $('#title').val();
					var content = $('#content').val();
					var to_id = $('#to_id').val();
					if(title == '') 	{ window.top.art.dialog({ id:'SMS01',content:'{$lang.sms_is_nut_title}',icon: 'error',time:5 }); return false; };
					if(to_id == '') 	{ window.top.art.dialog({ id:'SMS01',content:'{$lang.sms_is_nut_to_id}',icon: 'error',time:5 }); return false; };
					if(content == '') 	{ window.top.art.dialog({ id:'SMS01',content:'{$lang.sms_is_nut_content}',icon: 'error',time:5 }); return false; };
					$.post(url, { title:title, to_id:to_id, content:content, type_id: type_id }, function(data){
						/*_Dat(data);
						return;*/
						if('OK' === data){
							_POP({ title:'{$lang.add_sms}', content:'{$lang.add_sms}{$lang.success}!', icon:'success' });
							window.location.reload();
						}else{
							_POP({ title:'{$lang.add_sms}', content:'{$lang.add_sms}{$lang.fail}!', icon:'error' });
						}
					});
					
				},
				cancel: function(){ this.close(); }
			});
			$('.m-mini-user').live('click', function(){
				window.top.art.dialog.open('{$__CAPP__}/user/user_list', 
						{	id: 'SELECT_USER',
							title:'{$lang.select_user}', 
							width: '80%', 
							height: '80%',
							okVal: '{$lang.select_user}',
							cancelVal: '{$lang.cancel}',
							ok: function(){
								var user = art.dialog.data('user');
								if(user !== '')	$('#to_id').val(user);
								this.close();
							},
							cancel: function(){ this.close(); }
						}, false);
			});
		}
	</script>
{include file="../footer.html"}