{include file="../header_content.html"}
	
	<!-- Tag列表 -->
	<div class="mcontainer">
		<div class="m-main">
			<div class="m-header">
				<a href="javascript:window.history.back(-1);" class="m-header-btns" title="{$lang['back']}">◀</a>
				<a href="javascript:window.history.go(1);" class="m-header-btns" title="{$lang['go']}">▶</a>
				<a href="javascript:window.location.reload();" class="m-header-btns" title="{$lang['refresh']}">۞</a>
				<span class="m-title">{$lang['goods_list']}</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
				<input type="hidden" name="id" value="" />
				<table class="table table-condensed m-table">
					<tr class="m-table-theader">
						<!-- <th><input type="checkbox" id="check_box" onclick="_S('check[]');" /></th> -->
						<th>{$lang['goods_id']}</th>
						<th>{$lang['goods_name']}</th>
						<th>{$lang['handle']}</th>
					</tr>
					{if is_array($goodses)}
					{foreach key=k item=goods from=$goodses name=i}
						<tr>
							<!-- <td><input type="checkbox" value="{$goods.id}" name="check[]" /></td> -->
							<td>{$goods.id}</td>
							<td>{$goods.name}</td>
							<td>
								<a href="javascript:void(0);" class="m-mini-btn m-mini-select" data-name="{$goods.id}" title="{$lang['select']}" >{$lang['select']}</a>
							</td>
						</tr>
					{/foreach}
					{else}
						<td colspan="3">{$goodses}</td>
					{/if}
				</table>
			</div>
			<div class="m-footer">
				<form action="#" method="POST" accept-charset="utf-8">
					<div class="m-footer-left">
						<label class="m_select_all m-f-btn">{$lang['select_all']}</label>
						<label class="m_select_un m-f-btn" >{$lang['cancel']}</label>
					</div>
					<div class="m-footer-right m-footer-pagetion">{$page_link}</div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			/*var ids = '';
			$('input[name="check[]"]').click(function(){
				if($(this).attr("checked") == "checked"){
					$(this).rermoveAttr("checked");
				}else{
					$(this).attr("checked", "checked");
					ids += $(this).val() + ',';
				}
				window.top.art.dialog.data('parts', ids);
			});
			//window.top.art.dialog.data('parts', ids);*/

			var part = '';
			var parts = '';
			$('.m-mini-select').live('click', function(){
				if($(this).hasClass('m-selected')){
					$(this).removeClass('m-selected');
					//var reg = '//';
					part = part.replace($(this).data('name')+',', '');
				}else{
					$(this).addClass('m-selected');
					part += $(this).data('name')+',';
				}
				parts = part.replace(/,$/, '');
				window.top.art.dialog.data('parts', parts);
				console.log(parts);
			});
			$('.m_select_all').click(function(){
				part = '';
				$('.m-mini-select').each(function(){
					$(this).addClass('m-selected');
					part += $(this).data('name')+',';
				});
				parts = part.replace(/,$/, '');
				window.top.art.dialog.data('parts', parts);
				console.log(parts);
			});
			$('.m_select_un').live('click', function(){
				parts = '';
				$('.m-mini-select').each(function(){
					if($(this).hasClass('m-selected')){
						$(this).removeClass('m-selected');
					}else{
						return;
					}
				});
				console.log(parts);
			});
		});//end
	</script>
{include file="../footer.html"}