{include file="../header_content.html"}
	
	<!-- 添加用户 -->
	<div class="mcontainer">
		<div class="m-main">
			<div class="m-header">
				<a href="{$__CURL__}index" class="m-header-btns">{$lang['user_list']}</a>
				<a href="{$__CURL__}add" class="m-header-btns">{$lang['add_user']}</a>
				<span class="m-title">{$lang['edit_user']}</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
			<form id="user_form" action="{$__CURL__}update" method="POST">
				<input type="hidden" name="id" value="{$user.id}" />
				<table class="table m-table">
					<tr>
						<td>
							<div class="m-headport">
								{if $user.headport}
									<img src="{$__UPLOAD__}/{$user.headport}" alt="{$user.name}"> 
								{else}
									<img src="{$__UPLOAD__}/users/headport/user-f.png" alt="{$user.name}">
								{/if}
							</div>
						</td>
						<td>
							<STRONG>最后更新时间：</STRONG>&nbsp;&nbsp;&nbsp;&nbsp;
							{$user.update_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
					</tr>
					<tr>
						<td>用户名：</td><td>{$user.name}</td>
					</tr>
					<tr>
						<td>昵称：</td><td><input type="text" name="nick_name" value="{$user.nick_name}" /></td>
					</tr>
					<tr>
						<td>性别：</td>
						<td><!-- 
							{foreach from=$sexs key=key item=sex}
							{if $key == $user['sex']}
								<input type="radio" name="sex[]" value="{$key}" checked="checked">{$sex}&nbsp;&nbsp;&nbsp;&nbsp;
							{else}
								<input type="radio" name="sex[]" value="{$key}">{$sex}&nbsp;&nbsp;&nbsp;&nbsp;
							{/if}
							{/foreach} -->
							<div class="m-sex-div">
								<input type="hidden" name="sex" id="sex" value="1" />
								{foreach from=$sexs key=key item=sex}
								{if $key == $user['sex']}
									<span class="m-mini-btn m-sex-btns m-sex-checked m-sex-{$key}" title="{$sex}" data-value="{$key}"></span>
								{else}
									<span class="m-mini-btn m-sex-btns m-sex-{$key}" title="{$sex}" data-value="{$key}"></span>
								{/if}
								{/foreach}
								<span class="m-sex-tips"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>邮箱：</td><td><input type="text" name="email" value="{$user.email}" /></td>
					</tr>
					<tr>
						<td>手机号码：</td><td><input type="text" name="phone" value="{$user.phone}" /></td>
					</tr>
					<tr>
						<td>电话号码：</td><td><input type="text" name="tel" value="{$user.tel}" /></td>
					</tr>
					<tr>
						<td>联系地址：</td><td><input type="text" name="address" value="{$user.address}" /></td>
					</tr>
					<tr>
						<td>用户简介：</td><td><textarea name="intro">{$user.intro}</textarea></td>
					</tr>
					<tr>
						<td>用户签名：</td><td><textarea name="signa">{$user.signa}</textarea></td>
					</tr>
					<tr>
						<td>用户级别：</td>
						<td>
							<!-- <select name="level" id="level">
								{foreach from=$levels item=level}
									{if $level['value'] == $user['level']}
										<option value="{$user.level}" selected="selected">{$level['name']}</option>
									{else}
										<option value="{$level['value']}">{$level['name']}</option>
									{/if}
								{/foreach}
							</select> -->

							<div class="m-level-div">
								<input type="hidden" name="level" id="level" value="1" />
								{foreach from=$levels item=level}
									{if $level['value'] == $user['level']}
									<span class="m-mini-btn m-level-btns m-level-checked m-level-{$level['value']}" title="{$level.name}" data-value="{$level.value}"></span>
									{else}
									<span class="m-mini-btn m-level-btns m-level-{$level['value']}" title="{$level.name}" data-value="{$level.value}"></span>
									{/if}
								{/foreach}
								<span class="m-level-tips"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td> 是否可用：</td>
						<td>
						{if $user.disabled == 1}
							<i data-id="{$user.id}" data-value="{$user.disabled}" class="m-mini-btn m-mini-lock m-mini-inlock" title="{$user.lock}"></i>
						{else}
							<i data-id="{$user.id}" data-value="{$user.disabled}" class="m-mini-btn m-mini-lock m-mini-unlock" title="{$user.lock}"></i>
						{/if}
						</td>
					</tr>
					<tr>
						<td>生日：</td>
						<td>
							<link rel="stylesheet" href="{$__SYSJS__}/jscal2/jscal2.css" />
							<link rel="stylesheet" href="{$__SYSJS__}/jscal2/win2k.css" />
							<script type="text/javascript" src="{$__SYSJS__}/jscal2/jscal2.js"></script>
							<script type="text/javascript" src="{$__SYSJS__}/jscal2/cn.js"></script>
							<div class="time-div">
							     <input class="span3" name="birthday" value="{$user.birthday|date_format:'%Y-%m-%d'}" id="birthday" type="text" class="select-tile" />
							     <label id="birthday-l" class="m-mini-btn m-mini-time"></label>
							</div>
							<script type="text/javascript">
								Calendar.setup({
								    inputField : "birthday",
								    trigger    : "birthday-l",
								    dateFormat: "%Y-%m-%d",
								    showTime: false,
								    minuteStep: 1,
								    weekNumbers: true,
  									fdow     : 1,
								    onSelect: function(){
									    		this.hide();
									    	}
								});
							</script>
						</td>
					</tr>
					<tr>
						<td colspan="2"></td>
					</tr>
				</table>
				<div class="m-input-div">
					<input type="submit" name="submit" value="提交" id="uedit" class="m-input-btns" />
					<input type="reset" name="reset" value="取消" id="reset" class="m-input-btns" />
					<a href="javascript: window.history.back(-1);" class="m-input-btns">返回</a>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<script type="text/javascript"></script>

{include file="../footer.html"}