<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{$title}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$__ACSS__}/normalize.css" />
	<link rel="stylesheet" href="{$__ACSS__}/layout.css" />
	<link rel="stylesheet" href="{$__ACSS__}/main.css" />
	<script src="{$__AJS__}/modernizr-2.6.2.min.js"></script>
	<script src="{$__AJS__}/jquery-1.9.1.min.js" encoding="UTF-8"></script>
</head>
<body>
	
	<!-- 用户修改 -->
	<div class="mcontainer">
		<div class="m-u-edit">
			修改用户密码
		</div>
		<div class="clear"></div>
	</div>
	
</body>
</html>