{include file="../header_content.html"}
	
	<link rel="stylesheet" href="{$__SYSJS__}/jscal2/jscal2.css" />
	<link rel="stylesheet" href="{$__SYSJS__}/jscal2/win2k.css" />
	<script type="text/javascript" src="{$__SYSJS__}/jscal2/jscal2.js"></script>
	<script type="text/javascript" src="{$__SYSJS__}/jscal2/cn.js"></script>
	<script type="text/javascript" src="{$__SYSJS__}/SWFUpload/swfupload.js"></script>
	<script type="text/javascript" src="{$__SYSJS__}/SWFUpload/handlers.js"></script>
	<script type="text/javascript">
	var swfu;
	$(document).ready(function(){

		swfu = new SWFUpload({
				flash_url : "{$__SYSJS__}/SWFUpload/swfupload.swf",
				upload_url: "{$__CURL__}upload_banner",
				file_post_name : "banner_pic",

				// File Upload Settings
				file_size_limit : "2MB",	// 2MB
				file_types:"*.jpg;*.jpeg;*.png;*.gif;*.bmp",
				file_types_description:"All Files",
				file_upload_limit : "100",
				file_queue_error_handler : fileQueueError,
				upload_error_handler : uploadError,
				upload_progress_handler : function(file, bytesLoaded){
					$('#divFileProgressContainer').show();
					$('#thumbnails').attr({ 'src':'{$__AIMAGES__}/Loading_bar_1s.gif', width:300, height:16 });
				},
				upload_error_handler : uploadError,
				upload_success_handler :  function(file, serverData){
					var serverData = serverData.replace(/(^\s*)|(\s*$)/g,"");
					$('#thumbnails').attr({ 'src': serverData, width:300});
					$('#banner').val(serverData);
				},
				upload_complete_handler : uploadComplete,

				// Button Settings
				button_image_url: '{$__AIMAGES__}/swfupload_btn.png',
				button_placeholder_id : "ButtonPlaceholder",
				button_width: 76,
				button_height: 30,
				button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
				button_cursor: SWFUpload.CURSOR.HAND
			});

	});
	</script>
	<style type="text/css">
		.swfupload{ float:left;color: #DCF323;
					background: #2599B2}
	</style>
	<div class="mcontainer">
		<div class="m-main">
			<div class="m-header">
				<a href="javascript:window.history.back(-1);" class="m-header-btns" title="{$lang['back']}">◀</a>
				<a href="javascript:window.history.go(1);" class="m-header-btns" title="{$lang['go']}">▶</a>
				<a href="javascript:window.location.reload();" class="m-header-btns" title="{$lang['refresh']}">۞</a>
				<a href="{$__CURL__}index" class="m-header-btns">{$lang.banner_list}</a>
				<a href="{$__CURL__}banner_type" class="m-header-btns">{$lang['type_member']}</a>
				<a href="javascript:_ADD_TYPE('{$__CURL__}add_type');void(0);" class="m-header-btns">{$lang['add_type']}</a>
				<span class="m-title">{$lang.banner_list}</span>
				<div class="clear"></div>
			</div>
			<div class="m-center">
				<form id="banner-form" action="{$__CURL__}mod" method="POST">
					<input type="hidden" name="id" value="{$banner.id}" />
					<div class="m-tab-list">
						<table class="table m-table m-tab-cons" id="m-tab-con1">
							<tr>
								<td width="10%">{$lang.banner_select}</td>
								<td>
									<select name="type_id" id="type_id">
										<option value="">{$lang.banner_select}......</option>
										{if is_array($types)}
										{foreach item=type from=$types}
											{if $type.id == $banner.type_id}
											<option value="{$type.id}" selected>{$type.name}</option>
											{else}
											<option value="{$type.id}">{$type.name}</option>
											{/if}
										{/foreach}
										{/if}
									</select>
									&nbsp;&nbsp;
									<a href="javascript:_ADD_TYPE('{$__CURL__}add_type');void(0);">{$lang.add_type}</a>
									&nbsp;&nbsp;|&nbsp;&nbsp;
									<a href="{$__CURL__}banner_type">{$lang.type_member}</a>
								</td>
							</tr>
							<tr>
								<td width="10%">{$lang.banner_title}：</td>
								<td><input type="text" name="title" id="title" value="{$banner.title}" class="span6"/></td>
							</tr>
							<tr>
								<td width="10%">{$lang.banner_path}：</td>
								<td>
									<div class="m-lock-div">
										<input type="radio" name="banner_select" id="is_local" checked />{$lang.local_upload}&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="banner_select" id="is_webpic" />{$lang.web_image}&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="javascript:_PUP('{$__RURL__}main/upload');void(0);">从图库中选</a>
									</div>
									<div class="clear"></div>
									<input type="text" name="banner" id="banner" value="{$banner.banner}" class="span6" style="margin:10px 0px;"/>
									<div class="time-div">
										<div id="divFileProgressContainer" style="display:none;margin: 20px 0px;">
											<img id="thumbnails" src="{$banner.banner}" border="0" />
										</div>
										<div class="upload_btns">
											<span class="m-header-btns" id="ButtonPlaceholder">{$lang.select_image}</span>
											<span class="m-header-btns" style="padding:5px 10px;cursor: pointer;" onclick="swfu.startUpload();">上传图片</span>
											<div class="clear"></div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td width="10%">{$lang.banner_size}：</td>
								<td>
									{$lang.width}：<input type="text" name="banner_width" id="banner_width" value="{$banner.banner_width}" size="5" class="span1"/>
									<br />*
									<br />
									{$lang.height}：<input type="text" name="banner_height" id="banner_height" value="{$banner.banner_height}" size="5" class="span1"/><em class="explain">{$lang.banner_desize}</em>
								</td>
							</tr>
							<tr>
								<td width="10%">{$lang.banner_linkto}：</td>
								<td><input type="text" name="linkto" id="linkto" value="{$banner.linkto}" class="span6"/></td>
							</tr>
							<tr>
								<td>{$lang.start_time}：</td>
								<td>
									<div class="time-div">
									     <input class="span3" name="start_time" value="{$banner.start_time|date_format:'%Y-%m-%d %H:%M:%S'}" id="start_time" type="text" class="select-tile" />
									     <label id="start_time_l" class="m-mini-btn m-mini-time"></label>
									</div>
									{literal}
									<script type="text/javascript">
										Calendar.setup({ trigger: 'start_time_l',inputField : "start_time",dateFormat: "%Y-%m-%d %H:%M:%S",showTime: true,weekNumbers: true });
									</script>
									{/literal}
								</td>
							</tr>
							<tr>
								<td>{$lang.end_time}：</td>
								<td>
									<div class="time-div">
									     <input class="span3" name="end_time" value="{$banner.end_time|date_format:'%Y-%m-%d %H:%M:%S'}" id="end_time" type="text" class="select-tile" />
									     <label id="end_time_l" class="m-mini-btn m-mini-time"></label>
									</div>{literal}
									<script type="text/javascript">
										Calendar.setup({ trigger: 'end_time_l',inputField : "end_time",dateFormat: "%Y-%m-%d %H:%M:%S",showTime: true,weekNumbers: true });
									</script>{/literal}
								</td>
							</tr>
							<tr>
								<td width="10%"> {$lang.is_disabled}：</td>
								<td>
									<div class="m-lock-div">
										<input type="hidden" name="disabled" id="disabled" value="1" />
										<span class="m-lock-btns"><i class="on_off_btn"></i></span>
										<span class="m-disabled-tips">{$lang['disabled_false']}</span>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="m-input-div">
						<input type="submit" name="submit" value="{$lang.submit}" id="submit" class="m-input-btns" />
						<input type="reset" name="reset" value="{$lang.cancel}" id="reset" class="m-input-btns" />
						<a href="javascript: window.history.back(-1);" class="m-input-btns">{$lang.return}</a>
					</div>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('input[name="banner_select"]').click(function(){
				if($('#is_local').attr('checked')){
					$('.upload_btns').show();
					$('#banner').val('');
				}else{
					$('.upload_btns').hide();
					$('#banner').val('http://');
				}
			});
			//可用性
			$('.on_off_btn').click(function(){
				var disabled = $('#disabled').val();
				if(disabled == 1){
					$('.on_off_btn').animate({ left: '0px' });
					$('#disabled').val(0);
					$('.m-disabled-tips').text('{$lang['disabled_true']}');
				}else if(disabled == 0){
					$('.on_off_btn').animate({ left: '50px' });
					$('#disabled').val(1);
					$('.m-disabled-tips').text('{$lang['disabled_false']}');
				}
			});

			$('#banner-form').submit(function(){
				$(this).ajaxSubmit({
					success: function(data){
						/*_Dat(data);
						return;*/
						if(data === 'OK'){
							_POP({ title: '{$lang.edit_banner}', content: '{$lang.edit}{$lang.success}', icon: 'success' });
							window.location.href="{$__CURL__}index";
						}else if(data === 'LS'){
							_POP({ title: '{$lang.edit_banner}', content: '{$lang.banner_time_tip}', icon: 'question' });
							return false;
						}else{
							_POP({ title: '{$lang.edit_banner}', content: '{$lang.edit}{$lang.fail}', icon: 'error' });
						}
					}
				}); 
				return false;
			});
			
		});//end ready.

		function _O(url){
			art.dialog.data('id', '99989898');
			art.dialog.open(url, null, false);
		}
		function _PUP(url){
			window.open(url);
		}
		function _ADD_TYPE(url){
			art.dialog.prompt('{$lang.put_type_name}', function(value){
				$.post(url, { name: value }, function(data){
					data = data.split('-');
					if(data[0] === 'OK'){
						_POP({ title: '{$lang.add_type}', content: '{$lang.add}{$lang.success}', icon: 'success' });
						$('#type_id').append('<option value="'+ data[1] +'" selected>'+ data[2] +'</option>');
					}else{
						_POP({ title: '{$lang.add_type}', content: '{$lang.add}{$lang.fail}', icon: 'error' });
					}
				});
			});
		}
	</script>

{include file="../footer.html"}